<!DOCTYPE HTML>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../static/styles.css" media="screen,projection" />
    <title>About</title>

    <style>
        nav ul li a {
            color: #2196f3;
        }
    </style>
    </style>
</head>

<body id="about">
    <nav>
        <div class="nav-wrapper white">
            <a href="/" class="brand-logo"><strong>&nbsp; &nbsp; &nbsp; &nbsp;Easy Bank</strong></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="about">About</a></li>
                <li><a href="login">Log In</a></li>
                <li><a class="waves-effect waves-light btn blue" href="signup">Sign Up</a></li>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </ul>
        </div>
    </nav>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <center>
            <font color="white">
                <h3><strong>Easy, simple and safe access to your accounts, to let you take back control of your finances
                <br/>
                </strong></h3>
                
                <div class = "row">
                    <div class = "col s4 offset-s4">
                        <hr>
                    </div>
                </div>
            </font>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <h5>EasyBank allows you to easily view your money, with only the features you want, and protects you against fraud and criminal activity.
                <br/>
            </h5>
            <br>
            <br>
            <br>
            <br>
            <br>
            <hr>
            <br>
            <br>

            <font size="5"><font color = #2196f3><p><strong>How Does it Work?</strong></p>
            </font>
            </font>
        </center>

        <br>
        <br>

        <center>
            <div class="row">
                <div class="col s4">
                    <center><img src="../static/profile.png" width= 50%></center>
                    <br>
                    <br>
                    <div>
                        <font size="4">
                            <p>Create a profile so we know how you plan to use your accounts.</p>
                            </font>
                    </div>
                </div>

                <div class="col s4">
                    <center><img src="../static/viewaccount.png" width= 40%></center>
                    <br>
                    <br>
                    <div>
                        <font size="4">
                        <p>Easily view your accounts the way you want to see them – we get rid of the clutter.</p>
                        </font>
                    </div>
                </div>

                <div class="col s4">
                    <center><img src="../static/textnotif.png" width= 50%></center>
                    <br>
                    <br>
                    <div>
                        <font size="4">
                        <p>We’ll send you an SMS when we detect something that doesn’t look right, and you can reply “yes” if it wasn’t you.</p>
                        </font>
                    </div>
                </div>
                </div>
                
            <br>
            <br>
            <br>
            <hr>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <font color = #2196f3>
            <h5><strong>
                You’ve spent your lifetime earning it, now let’s make sure it’s you that is spending it.
            </h5></strong>
            </font>
            
            <font size="4">
                <p>
                    It is estimated that more than <b>6% of US elderly</b> are subject to financial abuse in their lifetimes. 
                    With Easy Bank you will have peace of mind knowing that you’ll be notified each week about suspicious activity,
                    so you can relax and spend your time enjoying the life that you deserve.
                </p>
            </font>
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <hr>
            <br>
            
            <h5><strong>
                Easy Bank has helped keep millions of people like you safe and enjoying the freedom of viewing your accounts
                without the hassle of travelling to the bank, 
                or waiting in phone queues.
            </h5></strong>

            <br>
            <br>
            <br>
            <br>
            <br>
            
            <a class="waves-effect waves-light btn-large blue" href="signup"><font size= "5">Sign Up</font></a>
            
            <br>
            <br>
            <br>
            <br>
            <br>
            
        </center>


        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/materialize.min.js"></script>
</body>

</html>
