<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Materialize Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Import materialize.css-->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <link type="text/css" rel="stylesheet" href="../static/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../static/styles.css" media="screen,projection" />
    <title>Home - Easy Bank</title>

    <style>
        .tabs {
            margin-left: 50px;
            margin-right: 50px;
        }
        
        nav .brand-logo {
            color: white;
        }
        
        .top-border {
            border-style: solid;
            border-color: #1565c0;
            border-width: 8px 0px 0px 0px;
            padding-bottom: 50px;
            background-color: white;
        }
        
        .btn-block {
            background: #2196f3;
        }
        
        .btn-block:hover {
            background-color: #0d47a1;
            color: white;
        }
        
        .card {
            margin: 20px 2px 20px 2px;
        }
        
        table {
            margin-left: 15px;
            margin-right: 15px;
        }
        
        .papercraft {
            font-weight: 300;
            font-style: italic;
        }
    </style>
</head>

<body id="home">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.js"></script>
    <nav class="nav-extended">
        <div class="nav-wrapper blue">
            <font color="white">
                <a href="home" class="brand-logo">&nbsp; &nbsp; &nbsp; &nbsp;Easy Bank</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="settings">Settings</a></li>
                    <li><a href="help">Help</a></li>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </ul>
            </font>

            <div class="row">
                <ul class="tabs blue">
                    <li class="tab col s3" id="onPress" class=active>
                        <a href=#capitalone>
                            <font color="white">Capital One</font>
                        </a>
                    </li>
                    <li class="tab col s3">
                        <a href=#noaccount>
                            <font color="white">No Account?</font>
                        </a>
                    </li>
                    <li class="tab col s3">
                        <a href=#addaccount id="linkButton">
                            <font color="white">Add Account</font>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="capitalone" class="col s12">
        <div class="row">
            <div class="col s3 offset-s1">
                <br>
                <h3 class="papercraft">Accounts:</h3>
                {% for account in accounts %}
                <div class="col s12">
                    <div class="card-panel white top-border">
                        <span class="black-text" style="font-size: medium;">
                        {{account.name}}</br>({{account.account_number}})<br>
                    </span>
                        <span style="float: right; font-size: x-large;">${{account.balance}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>


            <div class="col s6 offset-s1">
                <br>
                <h3 class="papercraft">Suspicious Activity:</h3>
                <ul class="collection">
                    {% for s in suspicious %}
                    <li class="collection-item avatar">
                        <i class="material-icons circle red">warning</i>
                        <span class="title">Click "X" to dismiss, or the Warning sign to report.</span>
                        <p><b>Amount:</b> ${{s.withdrawal}} <br> <b>{{s.date}}</b> from <b>{{s.description}}</b>
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons delete">clear</i><br><i class="material-icons report">report_problem</i></a>
                    </li>
                    {% endfor %}
                </ul>

                <br>

                <h3 class="papercraft">Recent Transactions: </h3>
                <ul class="popout collapsible" data-collapsible="accordion">
                    {% for transaction in transactions %}
                    <li>
                        {% if transaction.withdrawal == 0 %}
                        <div class="collapsible-header"><i class="material-icons green-text">add</i><b>${{transaction.deposit}}</b>, {{transaction.date}}</div>
                        {% else %}
                        <div class="collapsible-header"><i class="material-icons red-text">remove</i><b>${{transaction.withdrawal}}</b>, {{transaction.date}}</div>
                        {% endif %}
                        <div class="collapsible-body">
                            <p><b>Date:</b> {{transaction.date}} <br>
                                <b>Description:</b> {{transaction.description}}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>

    <br>

    <div id="noaccount" class="col s12">
        <center>
            <h5>
                <font color=black>
                    No Account? <b>No Problem.</b>
                </font>
            </h5>
            <h6>
                Select your bank provider to create an online account.
            </h6>
        </center>

        <div class="row">

            <br>

            <div class="col s2 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="https://www.capitalone.com/"><img src="../static/capitalonelogo.png" width="2"></a>

                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><center>Capital One</center></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Capital One<i class="material-icons right">close</i></span>
                    </div>
                </div>


                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="https://chase.com/">
                            <img class="activator" src="../static/chaselogo.png">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 activator"><center>Chase</center></span>
                    </div>
                </div>


            </div>

            <div class="col s6 m4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="https://tdbank.com">
                            <img src="../static/tdbanklogo.png">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 activator"><center>TD Bank</center></span>
                    </div>
                </div>

                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="https://bankofamerica.com">
                            <img class="activator" src="../static/boalogo.png">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 activator"><center>Bank of America</center></span>
                    </div>
                </div>

            </div>
            <div class="col s9 m4">

                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="https://citibank.com">
                            <img src="../static/citibanklogo.png" class="bankLogos">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 activator"><center>Citi Bank</center></span>
                    </div>
                </div>


                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="https://schwab.com">
                            <img src="../static/cslogo.png" class="bankLogos">
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 activator"><center>Charles Schwab</center></span>
                    </div>
                </div>


            </div>
        </div>

    </div>


    </div>
    <script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>
    <script>
        var linkHandler = Plaid.create({
            env: 'tartan',
            clientName: 'Client Name',
            key: 'test_key',
            product: 'auth',
            // To use Link with longtail institutions on Connect, set the
            // 'longtail' option to true:
            // longtail: true,
            onLoad: function() {
                // The Link module finished loading.
            },
            onSuccess: function(public_token, metadata) {
                // Send the public_token to your app server here.
                // The metadata object contains info about the institution the
                // user selected and the account ID, if selectAccount is enabled.
            },
            onExit: function(err, metadata) {
                // The user exited the Link flow.
                if (err != null) {
                    // The user encountered a Plaid API error prior to exiting.
                }
                // metadata contains information about the institution
                // that the user selected and the most recent API request IDs.
                // Storing this information can be helpful for support.
            }
        });

        // Trigger the standard institution select view
        document.getElementById('linkButton').onclick = function() {
            linkHandler.open();
        };

        $(".delete").click(function(event) {
            event.preventDefault();
            $(this).parent().parent().remove();
        });

        $(".report").click(function(event) {
            window.open("https://www.capitalone.com/identity-protection/commitment/", "_blank");
        });
    </script>
</body>

</html>
