<!DOCTYPE HTML>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="../static/styles.css" media="screen,projection" />
    <title>Easy Bank</title>
    
    <style>  
    nav ul li a{
      color: #2196f3;
    }    
    </style>
</head>

<body id="backgroundImage">
    <nav>
        <div class="nav-wrapper white">
            <a href="/" class="brand-logo"><strong>&nbsp; &nbsp; &nbsp; &nbsp;Easy Bank</strong></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="about">About</a></li>
                <li><a href="login">Log In</a></li>
                <li><a class="waves-effect waves-light btn blue" href="signup">Sign Up</a></li>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </ul>
        </div>
    </nav>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <center>
            <font color="white">
                <h3><strong>Protect Yourself from Elderly Financial Abuse</strong></h3>
                <h5>Take back control of your finances today</h5>
                <br>
                <br>
            </font>
            <div class="row">
                <a class= "waves-effect waves-light btn-large white" href="about"><font color = #2196f3>Learn More</font></a>
                <a class="waves-effect waves-light btn-large blue" href="signup">Get Protected</a>
        </center>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/materialize.min.js"></script>
</body>

</html>