<!DOCTYPE html>
<html>

<head>
    <!-- Materialize Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/materialize.css" media="screen,projection" />

  
    <title>Settings</title>

</head>

<body id="survey">
    <nav>
        <div class="nav-wrapper white">
            <a href="/home" class="brand-logo">&nbsp; &nbsp; &nbsp; &nbsp;<strong>Easy Bank</strong></a>
        </div>
    </nav>
    
    <br>
    <br>
    
    <h4>
        <center>
            Settings
        </center>
    </h4>
    
    <br>
    <br>
   <div class= "container">
<ul class="collapsible" data-collapsible="accordion">

   <li>
    <div class="collapsible-header"><span class="badge"></span><i class="material-icons">
        place</i>Change the Frequency of Your Texts</div>
    <div class="collapsible-body"><div class="collection">
        <center>
        <a href="/settings" class="collection-item">Once a Week</a>
        <a href="/settings" class="collection-item">Once Every Other Week </a>
        <a href="/settings" class="collection-item">Once a Month </a>
        </center>
      </div></div>
  </li>
  
   <li>
    <div class="collapsible-header"><span class="badge"></span><i class="material-icons">filter_drama
    </i>Change Your Password</div>
    <div class="collapsible-body">
    <div align: center>
  <div class="row">
    <form class="col s10 offset-s3">
      <br>
      <br>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Current Password" id="first_name" type="text" class="validate">
          <label for="first_name">Current Password</label>
        </div>
        </div>
        
        <div class="row">
        <div class="input-field col s6">
          <input placeholder="New Password" id="new_password" type="text" class="validate">
          <label for="new_password">New Password</label>
        </div>
        </div>
      
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Repeat New Password" id="re_new_password" type="text" class="validate">
          <label for="re_new_password">Repeat New Password</label>
        </div>
        </div>
        </div>
        
         <div align="center">
        <button class="btn waves-effect waves-light" type="submit" name="action" background-color="blue">Submit
    <i class="material-icons right">send</i>
      </button>
      <br>
      </div>
      <br>
  </li>
   
  
  <li>
    <div class="collapsible-header"><span class="badge"></span><i class="material-icons">
        place</i>Change Your Profile</div>
    <div class="collapsible-body"><div class="collection">
            <center>
        <a href="/settings" class="collection-item">The Simple Life: spends money on basic necessities in stores only</a>
        <a href="/settings" class="collection-item">The Go-Getter: spends money on necessites and other items</a>
        <a href="/settings" class="collection-item">Connected Homebody: buys necessities in stores and online </a>
        <a href="/settings" class="collection-item">Connected and Active: loves to shop online and travela>
        <a href="/settings" class="collection-item">The Team Player: a caretaker/relative uses my account to buy stuf</a>
        <a href="/settings" class="collection-item">The Outsourcer: reimburse a caretaker/relative who purchases items</a>
        </center>
      </div></div>
    
  </li>
  
  <li>
    <div class="collapsible-header"><span class="badge"></span><i class="material-icons">filter_drama
    </i>Change Your Phone Number</div>
    <div class="collapsible-body">
    <div align: center>
  <div class="row">
    <br>
    <form class="col s10 offset-s1">
      <div class="row">
        <div class="input-field col s10 offset-s1">
          
          <input placeholder="New Phone Number" id="phone_number" type="text" class="validate">
          <label for="phone_number">New Phone Number</label>
        </div>
        </div>
        
        <div align="center">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
      </button>
      </div>
  
        
      
  </li>
   <br>
</ul>
</div> 

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/materialize.min.js"></script>
</body>

</html>